heroku/python
https://github.com/heroku/heroku-geo-buildpack.git
https://github.com/heroku/heroku-buildpack-ssh-key.git
https://github.com/raxod502/heroku-buildpack-git-lfs.git
ipython==8.3.0
matplotlib==3.5.1
midi2audio==0.1.1
requests==2.27.1
streamlit==1.8.1
tegridy_tools==1.0.1
